# Eclipse configurations files
.checkstyle
.classpath
.project
.settings
eclipse
tmp
/bin
/morphia-1.2.6a
/morphia-1.2.6a
/precompiled
/resources
/test-result
/logs
/index-files
/test
/class-use
/lib
/morphia-1.2.6a
/morphia-1.2.6a
